{{#each this}}
<article class="country js-country">
    <h1 class="country-title">{{this.name}}</h1>
    <div class="country-box">
        <ul class="list country-list-info">
            <li class="country-list-item"><span class="country-text">Capital:</span> {{this.capital}}</li>
            <li class="country-list-item"><span class="country-text">Population:</span> {{this.population}}</li>
            <li class="country-list-item"><span class="country-text">Languages:</span>
                <ul class="country-sublist">
                    {{#each this.languages}}
                    <li class="sublist-item">{{this.name}}</li>
                    {{/each}}
                </ul>
            </li>
        </ul>
        <img class="flag-image" src="{{this.flag}}" alt='Flag of {{this.name}}' width="250px" height="auto">
    </div>
</article>
{{/each}}